body {
    margin: 0;
    padding: 0;
    /* background: rgb(243, 168, 168); */
    animation: cores;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('./Imagem/chuva-de-coracoes-21.gif');

}

@keyframes cores{

    0% { background: #de0303;}
    25% { background: #e22d2d;}
    50% { background: #dc5757;}
    75% { background: #ea6d6d;}
    100% { background: #f18e8e;}

}
    
header {
    position: fixed;
    top: 0;
    padding: 5px;
    align-items: center;
    text-align: center;
    background: #121212;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}
    
.yes-or-no {
        
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px;
    margin-bottom:30px */
}
    
.yes-or-no .yes {
        
    font-weight: bold;
    margin-right: 5px;
    background: rgb(178, 231, 178);
    color: white;
    font-size: 1rem;
    /* border: 2px solid rgb(25, 25, 25); */
    box-shadow: 1px 0px 4px 3px rgba(25, 25, 25, 0.4);;
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(87, 87, 87);
}
    
.yes-or-no .yes:hover{

    background: rgb(65, 209, 65);
    color: white;
    transition: all 0.5s ease-in; 

}

.yes-or-no .no {
    margin-left: 5px;
    font-weight: bold;
    background: rgb(216, 106, 106);
    color: white;
    font-size: 1rem;
    border-radius: 8px;

    box-shadow: 1px 0px 4px 3px rgba(25, 25, 25, 0.4);;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(87, 87, 87);
}
    
h1 {
    color: #fff;
    text-shadow: 1px 2px 2px gray;
}


h2{

    color: #fff;
    text-shadow: 1px 2px 2px rgb(57, 57, 57); 


}



#imagem{
    
    /* width: 375px;
    height:240px;*/
    box-shadow: 2px 3px 6px 5px rgb(236, 133, 133); 
   
    
}

.imagens{

    border-radius: 10px;
    box-shadow: 2px 3px 20px 3px rgba(25, 25, 25, 0.2);




}
.imagens:hover{

    border-radius: 10px;
    box-shadow: 2px 3px 5px 3px rgba(25, 25, 25);



}


#menu{

    text-align: center;



}









